!!!
%html
  %head
  %body
    %h1 Password Strength Service Examples

    %input{type: :password}

    %script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    %script{src: '/js/password_strength_service.js'}